@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Kalam&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Kalam', cursive;
    scroll-behavior: smooth;
    font-size: 20px;
}
ul{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    margin-top: 25px;
}
a{
    text-decoration: none;
    color: black;
}
.vertical {
    margin:50px;
    margin-top: -60px;
    position: absolute;
    border-left: 1px solid black;
    height: 697px;
}
#le{
    position:absolute;
    left:4%;
    top:10%;
    border: 1px solid black;
}
#lj{
    position:absolute;
    left:28%;
    top:10%;
    border: 1px solid black;
}
#ld{
    position:absolute;
    bottom: 7%;
    left: 4%;
    border: 1px solid black;
}
#lf{
    position: absolute;
    bottom: 7%;
    left: 28%;
    border: 1px solid black;
}
#ll{
    position: absolute;
    right: 25%;
    top: 10%;
    border: 1px solid black;
}
#lm{
    position: absolute;
    right: 0.5%;
    top:10%;
    border: 1px solid black;
}
#ln{
    position: absolute;
    right:0.5%;
    bottom: 7%;
    border: 1px solid black;

}
#lg{
    position: absolute;
    right: 25%;
    bottom: 7%;
    border: 1px solid black;
}
p.text {
    writing-mode:vertical-lr; 
    line-height: 50px;
    font-weight: bold;
    transform: rotate(180deg);
    margin-top: 80px;
    font-size: larger;

  }
  
p.text1 {
    writing-mode: vertical-lr;
    line-height: 50px;
    font-weight: bold;
    transform: rotate(180deg);
    margin-top:230px ;
    right: -100%;
    font-size: larger;
  }